.note-window-container {
    position: relative;
}

.note-window {
    min-height: 50vh;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    /* Ensure messages stack top to bottom */
    display: flex;
    flex-direction: column;
}