/* Global Styles */
#root {
  max-width: 1280px;
  margin: 0 auto;
}


/* Layout Styles */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* If you want it centered vertically as well */
  /* height: 90vh; */
  width: 100%;
}

.main-block {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100vh - 100px);
  align-items: start;
}



.navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  justify-content: center;
}

.navbar h3 {
  margin: 0;
  width: 200px;
  /* Prevent heading from pushing things onto new line */
}

.navbar .nav-links {
  display: flex;
}

.navbar .nav-links a {
  min-width: 100px;
  padding: 8px;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: None;
  text-align: center;
  margin: 0 10px;
}

.navbar button {
  width: 100px;
  padding: 8px;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #0056b3;
}

.page {
  display: flex;
  flex-direction: row;
  width: 100%;
}