.chatMessage {
    max-width: 60%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    align-self: flex-start;
    max-width: 100%;
}

.user {
    align-self: flex-end;
    background-color: #daf1ff;
}

.bot {
    align-self: flex-start;
    max-width: 100%;
}


.chatMessage code {
    white-space: wrap;
}


.chatMessage ul,
.chatMessage ol {
    margin: 0;
    /* Remove default outer margins */
    padding-left: 1.2em;
    /* Keep some left indentation for bullets/numbers */
}

.chatMessage li {
    margin-bottom: 0;
    /* Remove extra spacing between list items */
    line-height: 1.2;
    /* Optionally reduce line height for denser text */
}

.chatMessage p {
    margin: 0.5em 0;
    /* Less top/bottom margin for a more compact look */
}

.chatMessage a[href] {
    /* Add ellipsis at the end if text does not fit in given width */
    text-overflow: ellipsis;
    /* Have to add this line to make upper line work */
    overflow: hidden;
    /* Decide what is the longest link width in given units (px, em, rem etc.) */
    max-width: 300px;
    /* Element has to be inline-block to have width and fit inline in the same time */
    display: inline-block;
    /* We want to have all the link in one line without wrapping */
    white-space: nowrap;
}